/* line 2, ../sass/ie.scss */
.package-num {
  padding: 55px 0 0;
  width: 100%;
  text-align: center;
  font-family: "Microsoft YaHei";
  color: #888;
}
/* line 8, ../sass/ie.scss */
.package-num a {
  text-decoration: none;
  border: 1px solid #888;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 22px;
  height: 22px;
  color: #888;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
/* line 19, ../sass/ie.scss */
.package-num .num-active {
  background: #73c997;
  color: #fff;
  border: solid #73c997 1px;
}
/* line 24, ../sass/ie.scss */
.package-num .etc {
  border: 0;
}
/* line 28, ../sass/ie.scss */
.package-num .pre .arrow-pre {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  top: -12px;
  left: -10px;
}
/* line 33, ../sass/ie.scss */
.package-num .pre .arrow-pre .pre1 {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent #888 transparent transparent;
  position: absolute;
  top: 5px;
  left: 2px;
}
/* line 43, ../sass/ie.scss */
.package-num .pre .arrow-pre .pre2 {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 5px;
  left: 4px;
}
/* line 56, ../sass/ie.scss */
.package-num .next .arrow-next {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  top: -12px;
  left: -10px;
}
/* line 61, ../sass/ie.scss */
.package-num .next .arrow-next .next1 {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #888;
  position: absolute;
  top: 5px;
  left: 8px;
}
/* line 71, ../sass/ie.scss */
.package-num .next .arrow-next .next2 {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 5px;
  left: 6px;
}
/* line 84, ../sass/ie.scss */
.package-num .final .arrow-final1 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  top: -12px;
  left: -10px;
  z-index: 5;
}
/* line 90, ../sass/ie.scss */
.package-num .final .arrow-final1 .final1 {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #888;
  position: absolute;
  top: 5px;
  left: 8px;
}
/* line 100, ../sass/ie.scss */
.package-num .final .arrow-final1 .final2 {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 5px;
  left: 6px;
}
/* line 111, ../sass/ie.scss */
.package-num .final .arrow-final2 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  top: -12px;
  left: -10px;
}
/* line 116, ../sass/ie.scss */
.package-num .final .arrow-final2 .final1 {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #888;
  position: absolute;
  top: 5px;
  left: 8px;
}
/* line 126, ../sass/ie.scss */
.package-num .final .arrow-final2 .final2 {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 5px;
  left: 6px;
}
/* line 138, ../sass/ie.scss */
.package-num label {
  margin-left: 33px;
}
/* line 141, ../sass/ie.scss */
.package-num input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 20px;
  width: 40px;
  padding: 0 0 0 4px;
  margin: 0;
}
/* line 148, ../sass/ie.scss */
.package-num .skip {
  padding: 0 5px;
}
